<ng-action-bar title="Challenges"></ng-action-bar>

<TabView
    androidTabsPosition="bottom"
    androidSelectedTabHignlightColor="#7c015d"
    selectedTabTextColor="#7c015d">
    <StackLayout *tabItem="{ title: 'Today' }" name="today">
        <router-outlet>
            <Label text="Tab 1"></Label>
        </router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{ title: 'Current Challenge' }" name="currentChallenge">
        <router-outlet>
            <Label text="Tab 2"></Label>
        </router-outlet>
    </StackLayout>
</TabView>
